babel==2.3.4
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.11
Pygments==2.0.2
Sphinx==1.4.8
argh==0.26.1
argparse==1.2.1
docutils==0.13.1
html5lib==0.999
meld3==0.6.10
pathtools==0.1.2
pytz==2015.4
sphinxcontrib-httpdomain==1.4.0
commonmark==0.5.4
recommonmark==0.4.0
six==1.5.2
snowballstemmer==1.2.0
sphinx-autobuild==0.5.2
sphinx-rtd-theme==0.1.8
wheel==0.24.0
sphinx-intl==0.9.5
requests==2.6.0
alabaster==0.7.9
imagesize==0.7.1
