babel
Jinja2
MarkupSafe
PyYAML
Pygments
Sphinx
argh
argparse
docutils
html5lib
meld3
pathtools
pytz
sphinxcontrib-httpdomain
commonmark==0.5.4
recommonmark==0.4.0
six
snowballstemmer
sphinx-autobuild
sphinx-rtd-theme
wheel
sphinx-intl
requests
alabaster
imagesize
